@import "tailwindcss";

/* Font Import: inner-bold.woff2 */
@font-face {
  font-family: "InterBold";
  src: url("/fonts/inner-bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Global Layout */
html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;

  font-family: InterBold, Inter, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial;

  background: #000;
  color: #fff;
  overflow: hidden;
}

/* Canvas display fix */
canvas {
  display: block;
}
